{% extends 'baseLogin.html.twig' %}

{% block title %}<title>Welcome new user !</title> {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-floating mb-3">
        {{ form_label(form.image, 'Profile Picture', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-floating mb-3" >
        {{ form_label(form.phoneNumber, 'Phone Number', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-floating mb-3" >
        {{ form_label(form.location, 'Location', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Done</button>

    {{ form_end(form) }}
{% endblock %}
