{% if pageCount > 1 %}
    <ul class="pagination justify-content-center">
        {% if current == 1 %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">&laquo;</a></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% else %}
                <li class="page-item active"><span class="page-link">{{ page }}</span></li>
            {% endif %}
        {% endfor %}

        {% if current == pageCount %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">&raquo;</a></li>
        {% endif %}
    </ul>
{% endif %}
