{# {% extends 'base.html.twig' %} #}


{% block body %}
	<h1>Appointment index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Reason</th>
				<th>Hour</th>
				<th>BookingState</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for appointment in appointments %}
				<tr>
					<td>{{ appointment.id }}</td>
					<td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
					<td>{{ appointment.reason }}</td>
					<td>{{ appointment.hour ? appointment.hour|date('H:i:s') : '' }}</td>
					<td>{{ appointment.bookingState }}</td>
					<td>
						<a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">show</a>
						<a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('app_appointment_new') }}">Create new</a> #}
{% endblock %}
